* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BACKGROUND (VISIBLE + SOFT) */
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Arial, sans-serif;
  background: #8e81ed;   /* soft blue-grey (VISIBLE) */
}

/* MAIN BOX */
.container {
  background: #ffffff;
  padding: 30px;
  width: 350px;
  border-radius: 10px;
  text-align: center;

  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

/* TITLE */
h2 {
  margin-bottom: 20px;
}

/* ROW */
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 15px 0;
}

/* INPUTS */
select, input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

/* FULL INPUT */
input {
  width: 100%;
}

/* FLAG */
img {
  width: 40px;
}

/* BUTTON */
button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;

  background: #6c8fbf;
  color: white;
  border: none;
  border-radius: 6px;

  cursor: pointer;
}

button:hover {
  background: #5676a8;
}

/* RESULT */
#result {
  margin-top: 15px;
  font-weight: bold;
}